@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 2px;


  .row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background-color: #f8f9fa;
    border-top: 0;
    border-left: 0;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    z-index: 5;
    background-color: $primary-color;
    opacity: 0;
    --wrapper-line-display: none;

    &:hover {
      opacity: 1 !important;
    }

    &:before {
      display: var(--wrapper-line-display);
      content: '';
      position: absolute;
      background-color: $primary-color;
    }

  }

  .col-resize {
    top: 0;
    bottom: 0;
    right: -2px;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }

    &:before {
      cursor: col-resize;
      left: 1px;
      width: 1px;
      //height: calc(100vh - #{$head-height});
      height: 100vh;
    }
  }

  .row-resize {
    bottom: -2px;
    left: 0;
    right: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }

    &:before {
      cursor: row-resize;
      top: 1px;
      height: 1px;
      width: calc(100vw - #{$info-cell-width});
    }
  }

}